<div class="login-container">
    <img class="film" src="assets/images/film.png">
    <div class="logo">Milano Movies</div>
    <div class="desc">
        "Welcome to Milano Movie, your ultimate destination for cinematic delight! 
        Step into a world where storytelling comes to life, 
        where every frame unfolds a new adventure, 
        and where the magic of movies knows no bounds.
        Join us on this cinematic journey as we explore the art, the emotion, 
        and the excitement of the silver screen, all from the comfort of your own home.
        Whether you're a passionate film buff or a casual moviegoer, Milano Movie has something special in store for you. 
        Get ready to be enchanted by the power of storytelling, right here on Milano Movie!"
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" class="form-control" />
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword" class="form-control"/>
        </div>
        <div class="btn-container">
            <button class="btn btn-dark">Login</button>
        </div>
    </div>
</div>
