<div class="login-container">
    <div class="logo">Milano Movies</div>
    <div class="desc">
        "Welcome to Milano Movie, your ultimate destination for cinematic delight! Step into a world where storytelling 
        comes to life, where every frame unfolds a new adventure, and where the magic of movies knows no bounds.
        Milano Movie is your virtual gateway to the captivating realm of cinema, offering a vast and diverse collection
        of films that cater to every taste and preference. Join us on this cinematic journey as we explore the art, the
        emotion, and the excitement of the silver screen, all from the comfort of your own home. Whether you're a 
        passionate film buff or a casual moviegoer, Milano Movie has something special in store for you. 
        Get ready to be enchanted by the power of storytelling, right here on Milano Movie!"
    </div>
</div>
